.BusinessList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 4.4rem 10%;
}
.react-paginate {
  display: block;
}
.react-paginate li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    color: #f0c36c;
}

.react-paginate li:hover{
  cursor: pointer;
}
